body {
    background-color: rgb(52,52,52);
    color:rgb(0, 179, 255);
    font-family: "Comic Sans MS"; 
}
a {
    color: rgb(195, 255, 0);
}
h1 {
    background-color: inherit;
    color: rgb(255,0,170);
    font-family: "Comic Sans MS";
}
.teamtable {
    border: solid 10px white !important;

}
.teamtableFill
{
    background-color: rgb(0, 179, 255);
    color: white;
}
.teamtablecolor2 {    
    color: rgb(195, 255, 0);
}
.teamtablecolor3 {    
    color: rgb(255,0,170);
}

.catPick{
height:85px ;width:120px ;
}
.MarioJaKevinTable{
border: 1px solid;
}
.miisud{
    font-family:fantasy;
}

.annemariJaKerrtu_table{
    border: 1px solid;
    width: 100%;
    background-color: rgb(255, 103, 189);
    color: black;
}