body {
    background-color: #000000;
    
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    color:gold
}

.center {
    text-align: center;
  }
  a:link {
    color: gold;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:active {
    color: gold;
    background-color: transparent;
    text-decoration: none;
  }

  .row {
      display: flex;
      align-items: center;
      margin-bottom: 20px; /* Ridade vaheline tühik */
  }

  .reverse {
    flex-direction: row-reverse;
  }
  
  img {
      width: 200px;
      height: auto;
      margin-right: 10px;
  }

  .row.reverse img {
    margin-left: 10px;
    margin-right: 0;
  }

  p {
      margin: 0;
      font-size: 16px;
  }
