body {
    background-color: #000000;
    
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    color:gold
}

.center {
    text-align: center;
  }
  a:link {
    color: gold;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:active {
    color: gold;
    background-color: transparent;
    text-decoration: none;
  }

