body {
    background-color: burlywood;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a {
    color: black;
}

h1 {
    background-color: black;
    color: aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}