.kuivadheinad {
    body {
        color: rgb(163, 109, 109);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    a {
        color: rgb(168, 56, 56);
    }
    
    td {
        background-color: rgb(90, 67, 67);
        color: rgb(103, 150, 150);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}
